<form name="projectForm" layout="column" method="POST" id="projectForm" ng-submit="register()">
    <input type="hidden" name="{{csrfParameter}}" value="{{csrfToken}}" />
    <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Title</label>
                <input required name="title" ng-model="project.title" id="title" ng-pattern="/^[ a-zA-Z]+$/">
                <div ng-messages="projectForm.title.$error" role="alert">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="pattern">This field contains invalid characters.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Author</label>
                <input required name="author" ng-model="project.author" id="author" ng-pattern="/^[ a-zA-Z]+$/">
                <div ng-messages="projectForm.author.$error" role="alert">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="pattern">This field contains invalid characters.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
                <label>Genre</label>
                <input required name="genre" ng-model="project.genre" id="genre">
                <div ng-messages="projectForm.genre.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
            <md-input-container class="md-block" flex>
                <label>Price</label>
                <input required name="price" ng-model="project.price" id="price" ng-pattern="/^[0-9]+$/">
                <div ng-messages="projectForm.price.$error" role="alert">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="pattern">This field contains invalid characters.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Quantity</label>
                <input required name="quantity" ng-model="project.quantity" id="quantity" ng-pattern="/^[0-9]+$/">
                <div ng-messages="projectForm.quantity.$error" role="alert">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="pattern">This field contains invalid characters.</div>
                </div>
            </md-input-container>
    <md-button type="submit" class="md-raised md-accent" flex>
    Register
    </md-button>
</form>
    <h3 id="errormsg" ng-bind="errormsg">
</md-content>