<!-- VIEW FORM -->

  <div layout="row">
        <md-input-container class="md-block" flex>
        <label>Title</label>
        <input name="title" ng-model="project.title" id="title" ng-change="init()">
        </md-input-container>

        <md-input-container class="md-block" flex>
        <label>Author</label>
        <input name="author" ng-model="project.author" id="author" ng-change="init()">
        </md-input-container>

        <md-input-container class="md-block" flex>
        <label>Genre</label>
        <input name="genre" ng-model="project.genre" id="genre" ng-change="init()">
        </md-input-container>
</div>
<md-list>
  <md-list-item class="secondary-button-padding" ng-click="onCheckClick($index)" ng-repeat="item in users" layout="row">
      <p >{{item.title}}</p>
      <p>{{item.author}}</p>
      <p>{{item.genre}}</p>
      <p>{{item.quantity}}</p>
      <p>{{item.price}}</p>
      <md-checkbox class="md-secondary" ng-model="item.check" ng-click="onSecondClick($index)" ></md-checkbox>
  </md-list-item>
</md-list>
<div layout="row">
    <md-button type="submit" flex ng-disabled="start==0" ng-click="goBack()">
        Previous page
    </md-button>
    <md-button type="submit" flex ng-disabled="users.length<maxSel" ng-click="goNext()">
        Next page
    </md-button>
<md-input-container flex >
        <label>Per Page</label>
    <md-select ng-model="maxSel" md-on-close="reset()">
          <md-option ng-repeat="bound in bounds" value="{{bound}}" >
            {{bound}}
          </md-option>
        </md-select>
        </md-input-container>
    </div>
<div layout="row">
    <md-button type="submit" flex ng-disabled="selected!=1" ui-sref='update-books({id: users[curindex].id})'>
        Edit Book
    </md-button>
          <form action="downloadPDF" method="GET" class="admOnly">
            <input type="hidden" name="${_csrf.parameterName}"
            value="${_csrf.token}"/>
            <md-button class="md-raised md-warn" type="submit">PDF</md-button>
          </form>
          <form action="downloadCSV" method="GET" class="admOnly">
            <input type="hidden" name="${_csrf.parameterName}"
            value="${_csrf.token}"/>
            <md-button class="md-raised md-warn" type="submit">CSV</md-button>
          </form>

    <form name="removeForm" layout="column" method="POST" id="removeForm" ng-submit="doDelete()" flex class="admOnly">
        <input type="hidden" name="{{csrfParameter}}" value="{{csrfToken}}" />
      <input type="hidden" name="id" id="id" value="{{id}}">
      <md-button type="submit" flex ng-disabled="selected==0">
          Remove Books
      </md-button>
    </form>
    </div>
    <h3 ng-bind="errormsg">
