<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="spring4-mvc-gradle-xml">
		<property name="context-root" value="spring4" />
		<wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/resources" />
		<wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/java" />
		<wb-resource deploy-path="/" source-path="src/main/webapp" />
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.1.3/d90276fff414f06cb375f2057f6778cd63c6082f/logback-classic-1.1.3.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-webmvc/4.1.6.RELEASE/e1ee19a5359f214d65cc18972df8aba17ce1e423/spring-webmvc-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/javax.servlet/jstl/1.2/74aca283cd4f4b4f3e425f5820cda58f44409547/jstl-1.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.1.3/e3c02049f2dbbc764681b40094ecf0dcbc99b157/logback-core-1.1.3.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.7/2b8019b6249bb05d81d3a3094e468753e2b21311/slf4j-api-1.7.7.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-beans/4.1.6.RELEASE/ce2d409d470948f11fad41ffdf37dcff4d28cd7c/spring-beans-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-context/4.1.6.RELEASE/15f0b22bf89ed468badbc4eec759af2b916d33e4/spring-context-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-core/4.1.6.RELEASE/e2f486124d5dea2d91a9c2ea7d4456bc343ca2cc/spring-core-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-expression/4.1.6.RELEASE/8bf70887c2c883a6f6e552dbe46eec35c07adf6a/spring-expression-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-web/4.1.6.RELEASE/960101b25d0ec6f45d550bf92c00de8c6a584e6a/spring-web-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/org.springframework/spring-aop/4.1.6.RELEASE/686c13ba57d9423dede9c5d580dcadc5c67a2761/spring-aop-4.1.6.RELEASE.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/commons-logging/commons-logging/1.2/4bfc12adfe4842bf07b657f0369c4cb522955686/commons-logging-1.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module deploy-path="/WEB-INF/lib"
			handle="module:/classpath/lib/C:/Users/Dragos/.gradle/caches/modules-2/files-2.1/aopalliance/aopalliance/1.0/235ba8b489512805ac13a8f9ea77a1ca5ebe3e8/aopalliance-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
	</wb-module>
</project-modules>
